 #hiddendiv { 
		display:none;
    }
	.card {
  /* Add shadows to create the "card" effect */
  
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	width: 80%;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 25px;
	padding:10px;
	transition: 0.3s;
	height: 80%;
	text-align: center;
	background-color: #c2c2c2;
	border-radius: 4px;
	 
	
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.contents{
	overflow: auto;
	white-space: nowrap;
	text-align: center;
	background-color: #ffffff;
	border-radius: 4px;	
}

/* Add some padding inside the card container */
.container {
	background-color: #3b5998;
	color: #ffffff;
	margin-left: auto; 
	margin-right: auto;
	padding: 2px ;
	text-align: center;
	
	border-radius: 4px;
	margin-bottom: 10px;
	
}
table{
	margin-left: auto; 
	margin-right: auto;
}
td{
	text-align:left;
}
body{
	background-color: grey;
}
input[type=text] {
  border: 2px solid green;
  border-radius: 4px;
  width: 40%;
  height: 30px;
	margin-left: auto; 
	margin-right: auto;
}
select{
	border: 2px solid green;
	border-radius: 4px;
	height: 30px;
}
button{
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none ;
  border-radius: 4px;
  cursor: pointer;
}

.contents span{
	background-color: #3b5998;
	border: 1px solid black;
	border-radius: 4px;
	font-size:24px;
	color: white;
	margin: 2px;
	padding: 2px;
}

/*================Info Card=============*/
body{
	text-align: center;
}
.infoCard {
  /* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	/*width: Math.min(500, $('body').width())px;*/
	width: 80%;
	max-width: 600px;
	margin-left: 10px; 
	margin-right: 10px;
	margin-top: 25px;
	padding:10px;
	transition: 0.3s;
	height: 80%;
	text-align: center;
	background-color: #c2c2c2;
	border-radius: 4px;
	display: inline-block;
	
}

/* On mouse-over, add a deeper shadow */
.infoCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.infoContents{
	
	background-color: #ffffff;
	border-radius: 4px;	
}

/* Add some padding inside the card container */
.infoContainer {
	background-color: #3b5998;
	color: #ffffff;
	margin-left: auto; 
	margin-right: auto;
	padding: 2px ;
	text-align: center;
	
	border-radius: 4px;
	margin-bottom: 10px;
	
}
.infotable { 
	box-sizing: border-box;
	width: 100%;
}
/*table tr:hover {
   background-color:#13326b;
   color:#ffffff;
   text-shadow: 1px 2px #000000;
   box-shadow: 0px 0px 10px #ff0000;
   -webkit-box-shadow: 0px 0px 10px #ff0000;
   -moz-box-shadow: 0px 0px 10px #ff0000;
}*/
.infotable td:nth-child(1) { 
	width:  200px;
	font-family: 'cambria';
	font-size: 24px;
    padding-left: 16px; 
 
    text-align: left; 
}
.infotable td:nth-child(2) { 
	width:200px;
	font-family: 'cambria';
	font-size: 24px;
    padding-right: 16px; 
    text-align: right; 
}
.infotable tr { 
	border-bottom: 1px solid #e8e8e8;
    display: block; 
}
.infotable tr , table td{
    height:50px;
}
// Doubles
.infotable2 { 
	box-sizing: border-box;
	width: 100%;
	table-layout: fixed ;
}
/*table tr:hover {
   background-color:#13326b;
   color:#ffffff;
   text-shadow: 1px 2px #000000;
   box-shadow: 0px 0px 10px #ff0000;
   -webkit-box-shadow: 0px 0px 10px #ff0000;
   -moz-box-shadow: 0px 0px 10px #ff0000;
}*/
.infotable2 td { 
	width:  200px;
	font-family: 'cambria';
	font-size: 24px;
    padding-left: 16px; 
    text-align: left; 
}

.infotable2 tr { 
	border-bottom: 1px solid #e8e8e8;
    display: block; 
}
.infotable2 tr , table td{
    height:50px;
}
/* navigation Upper nav*/
ul {
	/*position: absolute;
	top:0;
	width: 100%;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
   z-index: 1;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
div div a:hover:not(.active) {
  background-color: #000000;
}
.active {
  background-color: #4CAF50;
}
/* Navigation side Nav*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a  {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
 .sidenav span{
	padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
  background-color:#ffffff;
 }

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidNav{
	display:none;
}
/* mobile view portrait*/
@media screen and (max-width: 700px) {
  .card  {
    width:100%;
	margin:5px;
	border: 1px solid black;
  }
  .infoCard {
	width:100%;
	margin-left: 0px; 
	margin-right: 0px;
  }
  #handle, #handle1, #handle2, button{
	  width: 80%;
	  margin-bottom:5px;
  }
  .upNav {
	  display: none;
  }
  .sidNav{
	  display: block;
  }
}  
  
